@charset "utf-8";

header{
    width: 727px;
    /* height: 200px; */
    border: 1px solid none;
    padding: 10px;
    margin: 20px auto;
    background-color:  #e0e7eb;
    text-align: center;
}

.bxc{
    width: 727px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

}

.fc{
    color: #534630;
    text-shadow: 1px 1px 1px #000;
}

.fu{
    text-decoration: underline;
    text-decoration-style: dotted;
}

#top h1{
    color: #5b5c76;
    text-shadow: 2px 2px 9px #534630;
}

.gnb a{
    color: #534630;
    text-decoration: none;
    font-weight: bold;
}

.gnb>a:hover{
    text-decoration: overline;
}

nav.gnb img{
    vertical-align: middle;
}

footer#info address{
    padding: 20px;
    background-color: #eddfe1;
    font-style: normal;
    color: #444;
    font-size: 14px;
    line-height: 1.6;
}

#info span{
    font-style: italic;
}