@charset "utf-8";

@import url(style.css);

#cont{
    text-align: left;
}
.atit{
    font-size: 30px;
    font-weight: normal;
    font-family: "굴림", "궁서", "맑은 고딕", serif;
    letter-spacing: -2px;
    word-spacing: 1;
    /* white-space: nowrap; */
}

.afig{
    margin: 15px 0 ;
}

.afig img{
    width: 100%;
}

.afig figcaption{
    text-align: center;
    padding-bottom: 50px;
}

.afig small{
    font-size: 12px;
    font-family: "굴림";
    color: #666;
}

.arti{
    font-family: "굴림", sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

#cont h3{
    font-family: "굴림";
    font-size: 14px;
}

.quote{
    background-color: #ececec;
    padding: 10px;
    text-align: center;
    background-clip: content-box;
}

.quote h3{
    text-align: center;
}

.quote blockquote{
    font-size: 12px;
    text-indent: 15px;
    text-align: justify;
}

#cont article{
    border-top: 1px solid #ccc;
    margin-top: 25px;
}

#cont a{
    color: #222;
    text-decoration: none;
    font-size: 14px;
    font-family: "굴림";
}

#cont a:hover{
    text-decoration: underline;
}

.twork{
    text-align: center;
    background-color: lightyellow;
    padding: 15px;
    background-clip: content-box;
}

.twork img{
    padding: 15px;
}